<div class=" container-fluid container mt-5">
    <div class="notice notice-info">
        <h4>Usuarios</h4>
    </div>
    <div>
        <kendo-grid [data]="gridUsuariosView" [navigable]="true" [height]="600" [pageSize]="state.take"
            [skip]="state.skip" [pageable]="true">
            <ng-template kendoGridToolbarTemplate>
                <button kendoButton primary=true icon='plus' (click)="crearUsuario()">Agregar</button>
            </ng-template>

            <kendo-grid-messages noRecords="Usuarios no registrados.">
            </kendo-grid-messages>

            <kendo-grid-column field="nombreUsuario" title="Nombre Usuario" width="150">
            </kendo-grid-column>
            <kendo-grid-column field="nombreCompleto" title="Nombre" width="250">
            </kendo-grid-column>
            <kendo-grid-column field="correo" title="Correo" width="250">
            </kendo-grid-column>
            <kendo-grid-column field="rol.nombre" title="Rol" width="200">
            </kendo-grid-column>
            <kendo-grid-column field="activo" title="Activo" width="100" class="text-center">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <app-active-badge [active]="dataItem.activo"></app-active-badge>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column width="200" class="text-center">
                <ng-template kendoGridCellTemplate let-dataItem let-isNew="isNew">
                    <button kendoButton [look]="'outline'" primary="true" icon="edit"
                        (click)='editarUsuario(dataItem)'></button>
                    <button kendoButton [look]="'outline'" primary="true" icon="lock"
                        (click)='cambiarContrasena(dataItem)'>Cambiar</button>
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>
    </div>
</div>
<ng-container #containerRegistro></ng-container>
<ng-container #containerContrasena></ng-container>
