$asset-images-path: "assets/img";

.logo-escudo {
    //position: absolute;
    width: 50%;
    height: 100%;
    padding-left: 3%;
    z-index: 3;
}
.fondo {
    height: 100vh;
    background-color: #00a7e1;
    overflow-y: scroll;
    //background-image: url("./graphics/colorstrip.gif");
}

.superior {
    background-image: url("../../../../assets/img/h1.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    //padding-right: 0px;
}

.inferior {
    background-image: url("../../../../assets/img/inferior2.svg");
    background-repeat: repeat-y;
    height: auto;
}

.informacion {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contenedor {
    width: 80%;
    max-width: 850px;
    margin: 0 auto;
    overflow: hidden;
}

@media screen and (max-width: 500px) {
    .superior {
        background-image: url("../../../../assets/img/h1-c.png");
        width: 100%;
        height: 90px;
    }
    .contenedor{
        width: 100%;
    }
}
