<div class="fondo">

    <div class="contenedor">
        <div class="superior">
            <img class="logo-escudo" [src]="determinarImagen()" />
        </div>
        <div class="card">
            <span>Tipo de Garantía <strong>{{getTipoGarantia()}}</strong></span>
            <span class="reviews">
                <span class="k-icon k-i-star" style="color: #ffce2a"></span>
                <span class="k-icon k-i-star" style="color: #ffce2a"></span>
                <span class="k-icon k-i-star" style="color: #ffce2a"></span>
                <span class="k-icon k-i-star" style="color: #ffce2a"></span>
                <span class="k-icon k-i-star-outline"></span>
            </span>
        </div>
        <div class="col-12 col-12-lg inferior ">
            <div class="row">
                <div class="col-12 col-lg-3">
                    <label for="Region">N° Serie</label>
                </div>
                <div class="col-12 col-lg-9">
                    <input kendoTextBox [(ngModel)]="obra.serie" readonly />
                </div>

                <div class="col-12 col-lg-3">
                    <label for="Region">Años Garantía</label>
                </div>
                <div class="col-12 col-lg-9">
                    <input kendoTextBox [(ngModel)]="obra.anios" readonly />
                </div>

                <div class="col-12 col-lg-3">
                    <label for="Region">Socio Técnico</label>
                </div>
                <div class="col-12 col-lg-9">
                    <input kendoTextBox [(ngModel)]="obra.socio.nombre" readonly />
                    <a *ngIf="mostrarEnlace" style="font-style: italic;" href="{{obra.socio.enlace}}">Ir al sitio</a>
                </div>

                <div class="col-12 col-lg-3">
                    <label for="Region">Región</label>
                </div>
                <div class="col-12 col-lg-9">
                    <input kendoTextBox [(ngModel)]="obra.region" readonly />
                </div>

                <div class="col-12 col-lg-3">
                    <label for="Region">Fecha Inicio Garantía</label>
                </div>
                <div class="col-12 col-lg-9">
                    <input kendoTextBox [(ngModel)]="obra.fechaInicioGarantia" readonly />
                </div>

                <div class="col-12 col-lg-3">
                    <label for="Region">Longitud</label>
                </div>
                <div class="col-12 col-lg-9">
                    <input kendoTextBox [(ngModel)]="obra.longitud" readonly />
                </div>

                <div class="col-12 col-lg-3">
                    <label for="Region">Latitud</label>
                </div>
                <div class="col-12 col-lg-9">
                    <input kendoTextBox [(ngModel)]="obra.latitud" readonly />
                </div>

                <div class="col-12 col-lg-3">
                    <label for="Region">Dimensión(m2)</label>
                </div>
                <div class="col-12 col-lg-9">
                    <input kendoTextBox [(ngModel)]="obra.dimension" readonly />
                </div>

                <div class="col-12 col-lg-3">
                    <label for="Region">Nombre propietario</label>
                </div>
                <div class="col-12 col-lg-9">
                    <input kendoTextBox [(ngModel)]="obra.nombrePropietario" readonly />
                </div>

                <div class="col-12 col-lg-12" style="margin-top: 5px; margin-bottom: 5px;">
                    <kendo-grid [data]="obra.sistemas" style="width: 100%;">
                        <kendo-grid-column field="nombre" title="Sistemas">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <strong>{{dataItem.nombre}}</strong>({{dataItem.dimension}} m2)
                            </ng-template>
                        </kendo-grid-column>
                    </kendo-grid>
                </div>
                <br />
                <div class="col-12 col-lg-12" style="text-align: center; font-weight: bold; font-style: italic;">
                    ASEGURADORA: {{obra.nombreBroker}} / <a
                        href="mailto:{{obra.contactoBroker}}">{{obra.contactoBroker}}</a>
                </div>
                <br />
                <br />
            </div>
        </div>

    </div>
</div>
