<div class='container-fluid'>
    <div class="d-flex border-bottom py-2">
        <div class="d-flex">
            <div class='project-name d-flex'>
                <span class="mx-0 my-auto logo">
                    <img class="logo-toolbar" [src]="logoHeader" />
                </span>
            </div>
        </div>
        <div class='d-flex ml-auto nav'>
            <kendo-menu [items]="menus" style="margin-top: 1.4%;">
                <ng-template kendoMenuItemLinkTemplate let-item="item" let-index="index">
                    <div *ngIf="item.url === ''">
                        <a [kendoMenuItemLink]="index">
                            <span [ngClass]="item.icono"></span>
                            {{ item.nombre }}
                        </a>
                    </div>
                    <div *ngIf="item.url !== '' && item.nombre !== 'Estado Cuenta Cliente'">
                        <a [kendoMenuItemLink]="index" [routerLink]="'/' + (item.url=== ''? 'inicio':item.url) ">
                            <span [ngClass]="item.icono"></span>
                            {{ item.nombre }}
                        </a>
                    </div>

                </ng-template>
            </kendo-menu>
            <!-- <kendo-menu style="margin-left: auto;" [items]="items">
            <ng-template kendoMenuItemLinkTemplate let-item="item" let-index="index">
                <a [kendoMenuItemLink]="index" [routerLink]="'/' + item.text.toLocaleLowerCase()">
                    {{ item.text }}
                </a>
            </ng-template>
        </kendo-menu> -->
        </div>
        <div class='d-flex ml-auto nav' style="margin-top: 5px;">
            <div style="padding-right: 5px; margin-top: 8px;">
                <div class="col-12 col-lg-12">
                    <strong>Usuario:</strong>{{usuarioNombreCompleto}}
                </div>
            </div>
            <div kendoTooltip position="bottom">
                <button kendoButton primary="true" [look]="'outline'" icon='login'
                    (click)="_loginService.cerrarSesion()" title="Salir"></button>
            </div>
        </div>
    </div>
</div>
