<router-outlet></router-outlet>
<div class=" container-fluid container mt-5" [hidden]="route.children.length !== 0">
    <div class="notice notice-info">
        <h4>Obras</h4>
    </div>
</div>

<div class="col-12 col-lg-12" [hidden]="route.children.length !== 0">
    <kendo-grid [data]="gridObrasView" [navigable]="true" [height]="500" [pageSize]="state.take" [skip]="state.skip"
        [pageable]="true" [filter]="state.filter" [filterable]="true" [pageable]="true"
        (dataStateChange)="dataStateChange($event)">

        <kendo-grid-messages noRecords="Obras no encontradas.">
        </kendo-grid-messages>
        <kendo-grid-column width="130" class="text-center">
            <ng-template kendoGridCellTemplate let-dataItem let-isNew="isNew">
                <button kendoButton [look]="'outline'" primary="true" icon="edit"
                    [routerLink]="[ 'edicion', dataItem.id]"></button>
                <button kendoButton [look]="'outline'" primary="true" icon="qr-code" style="margin-left: 3px;"
                    (click)="descargarQR(dataItem)"></button>
                <button kendoButton [look]="'outline'" primary="true" icon="pdf" style="margin-left: 3px;"
                    (click)="descargarEscudoQR(dataItem)"></button>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="socio.nombre" title="Socio Técnico" width="250">
        </kendo-grid-column>
        <kendo-grid-column field="serie" title="N° Serie" width="170" class="text-center">
        </kendo-grid-column>
        <kendo-grid-column field="asignado" title="Asignado" width="150" class="text-center">
        </kendo-grid-column>
        <kendo-grid-column field="region" title="Región" width="150" class="text-center">
        </kendo-grid-column>
        <kendo-grid-column field="anios" title="Años Obra" width="120" class="text-center" [filterable]="false">
        </kendo-grid-column>
        <kendo-grid-column field="tipoGarantia" title="Tipo Garantía" width="150" class="text-center" [filterable]="false">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <app-garantia-tipo-badge [tipoGarantia]="dataItem.escudos[0].tipoGarantia"></app-garantia-tipo-badge>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="fechaInicioGarantia" title="F. Inicio Garantía" width="150" [filterable]="false">
        </kendo-grid-column>
        <kendo-grid-column field="dimension" title="Dimensión(m2)" width="150" [filterable]="false">
        </kendo-grid-column>
        <kendo-grid-column field="nombrePropietario" title="Propietario" width="250">
        </kendo-grid-column>
    </kendo-grid>
</div>
