<div class=" container-fluid container  mt-5" style="justify-content: center; display: flex; padding-top: 10px; padding-bottom: 10px;">
    <!-- <h1>BIENVENIDO!</h1> -->
    <img class="logo-welcome" [src]="bienvenido" />
</div>