<kendo-grid [data]="gridData" [navigable]="true" [height]="553" (edit)="editHandler($event)" *ngIf="!editarDetalle"
    (cancel)="cancelHandler($event)" (save)="saveHandler($event)" (remove)="removeHandler($event)"
    (add)="addHandler($event)">
    <ng-template kendoGridToolbarTemplate>
        <button icon='plus' [primary]="true" kendoGridAddCommand>Agregar</button>
    </ng-template>

    <kendo-grid-messages noRecords="Sistemas no encontrados.">
    </kendo-grid-messages>
    <kendo-grid-column field="nombre" title="Nombre">
    </kendo-grid-column>
    <kendo-grid-column field="tipo" title="Tipo Superficie" class="text-center">
    </kendo-grid-column>
    <kendo-grid-column field="tipoObra" title="Tipo Obra">
    </kendo-grid-column>
    <kendo-grid-column field="dimension" title="Dimensión(m2)" editor='numeric' width="135" class="text-center">
    </kendo-grid-column>
    <kendo-grid-column width="250" class="text-center">
        <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem>
            <button kendoGridEditCommand style="margin-right: 5px;" [primary]="true" icon='edit'></button>
            <button kendoGridRemoveCommand [look]="'outline'" icon="delete"></button>
            <button kendoGridSaveCommand style="margin-right: 5px;" [primary]="true" [look]="'outline'" icon="check"
                [disabled]="formGroup?.invalid"></button>
            <button kendoGridCancelCommand [look]="'outline'" icon="close"></button>
            <button kendoButton style="margin-left: 5px;" [primary]="true" [icon]="'aggregate-fields'"
                [disabled]="isNew" (click)="verDetalle(dataItem)">Material</button>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>

<div class="row" *ngIf="editarDetalle">
    <div class="col-12 col-lg-12">
        <div class="notice notice-info">
            <button kendoButton style="margin-right: 10px;" [primary]="true" [icon]="'arrow-left'"
                (click)="regresar()">Regresar</button>
            <strong>SISTEMA:</strong><span style="margin-left: 3px; margin-right: 10px;">{{sistemaSeleccionado ?
                sistemaSeleccionado.nombre: sistemaSeleccionado}}</span> -
            <strong>TIPO SUPERFICIE:</strong><span style="margin-left: 3px; margin-right: 10px;">{{sistemaSeleccionado ?
                sistemaSeleccionado.tipo:sistemaSeleccionado}}</span> -
            <strong>TIPO OBRA:</strong><span style="margin-left: 3px; margin-right: 10px;">{{sistemaSeleccionado ?
                sistemaSeleccionado.tipoObra :
                sistemaSeleccionado}}</span>

        </div>

    </div>
    <div class="col-12 col-lg-12">
        <h4>Detalle Material</h4>
        <kendo-grid [data]="gridDataMaterial" [navigable]="true" [height]="500" (edit)="editHandlerM($event)"
            (cancel)="cancelHandlerM($event)" (save)="saveHandlerM($event)" (remove)="removeHandlerM($event)"
            (add)="addHandlerM($event)">
            <ng-template kendoGridToolbarTemplate>
                <button icon='plus' [primary]="true" kendoGridAddCommand>Agregar</button>
            </ng-template>

            <kendo-grid-messages noRecords="Materiales no registrados.">
            </kendo-grid-messages>

            <kendo-grid-column field="materialCatalogo.nombre" title="Nombre">
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-column="column" let-formGroup="formGroup"
                    let-isNew="isNew">
                    <kendo-dropdownlist [data]="productos" textField="nombre" valueField="id"
                        [formControl]="formGroup.get('materialCatalogo')">
                    </kendo-dropdownlist>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="lote" title="Lote" width="160">
            </kendo-grid-column>
            <kendo-grid-column field="cantidad" title="Cantidad" width="130">
            </kendo-grid-column>
            <kendo-grid-column field="unidad" title="Unidad" width="140">
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-column="column" let-formGroup="formGroup"
                    let-isNew="isNew">
                    <kendo-dropdownlist [data]="unidadesCatalogo" [valuePrimitive]="true"
                        [formControl]="formGroup.get('unidad')">
                    </kendo-dropdownlist>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column width="120" class="text-center">
                <ng-template kendoGridCellTemplate let-isNew="isNew">
                    <button kendoGridEditCommand style="margin-right: 5px;" [primary]="true" icon='edit'></button>
                    <button kendoGridRemoveCommand [look]="'outline'" icon="delete"></button>
                    <button kendoGridSaveCommand style="margin-right: 5px;" [primary]="true" [look]="'outline'"
                        icon="check" [disabled]="formGroup?.invalid"></button>
                    <button kendoGridCancelCommand [look]="'outline'" icon="close"></button>
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>
    </div>
</div>
<ng-container #containerConfirmacion></ng-container>
