<div class=" container-fluid container mt-5">
    <div class="notice notice-info">
        <h4>Edición Obra</h4>
    </div>

    <kendo-tabstrip>
        <kendo-tabstrip-tab [title]="'INFORMACIÓN GENERAL'" [selected]="true">
            <ng-template kendoTabContent>

                <form [formGroup]="formObra">
                    <fieldset class="k-form-fieldset">
                        <div class='row'>
                            <div class='col-12 col-lg-4'>
                                <kendo-formfield>
                                    <kendo-label text="N° Serie"></kendo-label>
                                    <kendo-textbox formControlName="serie" #CodigoIdentificador [disabled]="'true'">
                                    </kendo-textbox>
                                </kendo-formfield>
                            </div>
                            <div class='col-12 col-lg-4'>
                                <kendo-formfield>
                                    <kendo-label text="Socio Técnico">
                                        <input kendoTextBox formControlName="socio" disabled="true" />
                                    </kendo-label>
                                </kendo-formfield>

                            </div>
                            <!-- <div class='col-12 col-lg-4'>
                                <kendo-formfield>
                                    <kendo-label text="Tipo Garantía">
                                        <input kendoTextBox formControlName="tipoGarantia" disabled="true" />
                                    </kendo-label>
                                </kendo-formfield>

                            </div> -->

                            <div class='col-12 col-lg-4'>
                                <kendo-formfield>
                                    <kendo-label text="Región">
                                        <kendo-combobox [data]="regionesLista" textField="texto" valueField="valor"
                                            [valuePrimitive]="true" [placeholder]="'Seleccione'"
                                            formControlName="region">
                                        </kendo-combobox>
                                    </kendo-label>
                                    <kendo-formerror>Región es requerido</kendo-formerror>
                                </kendo-formfield>
                            </div>

                            <div class="col-12 col-lg-4">
                                <kendo-formfield>
                                    <kendo-label text="N° Años de Garantía"></kendo-label>
                                    <kendo-numerictextbox formControlName="anios" [format]="{maximumFractionDigits: 0}"
                                        required [min]="0" [autoCorrect]="true">
                                    </kendo-numerictextbox>
                                    <kendo-formerror>N° Años de Garantía inválido</kendo-formerror>
                                </kendo-formfield>
                            </div>

                            <div class='col-12 col-lg-4'>
                                <kendo-formfield>
                                    <kendo-label [for]="'fechaInicioGarantia'" text="Fecha Inicio Garantía">
                                    </kendo-label>
                                    <kendo-datepicker formControlName="fechaInicioGarantia" [format]="'dd/MM/yyyy'">
                                        <kendo-datepicker-messages today="Hoy" toggle="Cambiar calendario">
                                        </kendo-datepicker-messages>
                                    </kendo-datepicker>
                                    <kendo-formerror>Fecha Inicio Garantía inválida</kendo-formerror>
                                </kendo-formfield>
                            </div>

                            <div class="col-12 col-lg-4">
                                <kendo-formfield>
                                    <kendo-label text="Dimensión de la Obra(m2)"></kendo-label>
                                    <kendo-numerictextbox formControlName="dimension"
                                        [format]="{maximumFractionDigits: 2}">
                                    </kendo-numerictextbox>
                                    <kendo-formerror>Dimensión de la obra Requerida</kendo-formerror>
                                </kendo-formfield>
                            </div>

                            <div class="col-12 col-lg-4">
                                <kendo-formfield>
                                    <kendo-label text="Latitud"></kendo-label>
                                    <kendo-numerictextbox formControlName="latitud"
                                        [format]="{maximumFractionDigits: 5}">
                                    </kendo-numerictextbox>
                                    <kendo-formerror>Latitud Requerida</kendo-formerror>
                                </kendo-formfield>
                            </div>

                            <div class="col-12 col-lg-4">
                                <kendo-formfield>
                                    <kendo-label text="Longitud"></kendo-label>
                                    <kendo-numerictextbox formControlName="longitud"
                                        [format]="{maximumFractionDigits: 5}">
                                    </kendo-numerictextbox>
                                    <kendo-formerror>Longitud Requerida</kendo-formerror>
                                </kendo-formfield>
                            </div>

                            <div class='col-12 col-lg-4'>
                                <kendo-formfield>
                                    <kendo-label text="Nombre Propietario">
                                        <input kendoTextBox formControlName="nombrePropietario" />
                                    </kendo-label>
                                    <kendo-formerror>Nombre Propietario es requerido</kendo-formerror>
                                </kendo-formfield>
                            </div>

                            <div class='col-12 col-lg-4'>
                                <kendo-formfield>
                                    <kendo-label text="Razón Social">
                                        <input kendoTextBox formControlName="razonSocial" />
                                    </kendo-label>
                                    <kendo-formerror>Razón Social es requerido</kendo-formerror>
                                </kendo-formfield>
                            </div>
                            <div class='col-12 col-lg-4'>
                                <kendo-formfield>
                                    <kendo-label text="Ciudad">
                                        <input kendoTextBox formControlName="ciudad" />
                                    </kendo-label>
                                </kendo-formfield>
                            </div>
                            <div class='col-12 col-lg-12'>
                                <kendo-formfield>
                                    <kendo-label text="Ubicación Escudo">
                                        <textarea class="comments" kendoTextArea rows="5"
                                            formControlName="ubicacionEscudo"></textarea>
                                    </kendo-label>
                                    <kendo-formerror>Ubicación escudo es requerido</kendo-formerror>
                                </kendo-formfield>
                            </div>
                            <div class='col-12 col-lg-12'>
                                <kendo-formfield>
                                    <kendo-label text="Comentario">
                                        <textarea class="comments" kendoTextArea rows="5"
                                            formControlName="comentario"></textarea>
                                    </kendo-label>
                                </kendo-formfield>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class='col-12 col-lg-12'>
                                <div class="k-form-buttons">
                                    <button kendoButton [primary]="true" [icon]="'save'" type="button"
                                        (click)="guardar()">Guardar</button>
                                    <button kendoButton [icon]="'close'" (click)="cancelar()">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <br>
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="mapClicked($event)">
                    <agm-marker [latitude]="obtenerLatitud()" [longitude]="obtenerLongitud()"
                        (dragEnd)="markerDragEnd($event)" [markerDraggable]="true"></agm-marker>
                </agm-map>
                <br>
            </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'ESCUDOS GARANTÍA'">
            <ng-template kendoTabContent>
                <app-obras-editar-escudos [obra]="obraEdicion"></app-obras-editar-escudos>
                <br>
            </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'SISTEMAS IMPERMEABILIZACIÓN'">
            <ng-template kendoTabContent>
                <app-obras-editar-sistema [obra]="obraEdicion"></app-obras-editar-sistema>
                <br>
            </ng-template>
        </kendo-tabstrip-tab>
    </kendo-tabstrip>

</div>
