<p>Los siguientes asignaciones fueron ingresadas.</p>
<kendo-grid [data]="resultado" [height]="410">
    <kendo-grid-column field="serie" title="Serie">
    </kendo-grid-column>
    <kendo-grid-column field="tipoGarantia" title="Tipo Garantía" class="text-center">
    </kendo-grid-column>
    <kendo-grid-column title="QR" width="100" class="text-center">
        <ng-template kendoGridCellTemplate let-dataItem>
            <button kendoButton [look]="'outline'" primary="true" icon="qr-code"
                (click)="descargarQR(dataItem)"></button>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>