<form class="k-form" [formGroup]="editForm">

    <kendo-formfield>
        <kendo-label [for]="'Tipo'" text="Tipo"></kendo-label>
        <kendo-combobox [data]="tiposCatalogo" [textField]="'texto'" [valueField]="'valor'" [valuePrimitive]="true"
            [placeholder]="'Seleccione'" formControlName="tipo" (valueChange)="changeValueTipo()" [disabled]="esEdicion()">
        </kendo-combobox>
        <kendo-formerror>Tipo es requerido</kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
        <kendo-label [for]="'NombreUsuario'" text="Nombre Usuario"></kendo-label>
        <input kendoTextBox formControlName="nombreUsuario" #NombreUsuario required [disabled]="esEdicion()"/>
        <kendo-formerror>Nombre usuario inválido</kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
        <kendo-label [for]="'NombreCompleto'" text="Nombre Completo"></kendo-label>
        <input kendoTextBox formControlName="nombreCompleto" #NombreCompleto />
        <kendo-formerror>Nombre completo inválido</kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
        <kendo-label [for]="'Correo'" text="Correo"></kendo-label>
        <input kendoTextBox formControlName="correo" #Correo />
        <kendo-formerror>Correo inválido</kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
        <kendo-label [for]="'Rol'" text="Rol"></kendo-label>
        <kendo-combobox [data]="rolesCatalogo" [textField]="'nombre'" [valueField]="'id'" [valuePrimitive]="true"
            [placeholder]="'Seleccione'" formControlName="rol">
        </kendo-combobox>
        <kendo-formerror>Rol es requerido</kendo-formerror>
    </kendo-formfield>

    <kendo-formfield *ngIf="!esEdicion()">
        <kendo-label [for]="'contrasena'" text="Contraseña"></kendo-label>
        <input type="password" kendoTextBox formControlName="contrasena" #Correo />
        <kendo-formerror>Contraseña inválida</kendo-formerror>
    </kendo-formfield>

    <kendo-formfield *ngIf="!esEdicion()">
        <kendo-label [for]="'CC'" text="Contraseña Confirmar"></kendo-label>
        <input type="password" kendoTextBox formControlName="contrasenaConfirm" #Correo />
        <kendo-formerror>Contraseña inválida</kendo-formerror>
    </kendo-formfield>

    <kendo-formfield *ngIf="esEdicion()">
        <kendo-label [for]="'Activo'" text="Activo"></kendo-label>
        <input type="checkbox" kendoCheckBox formControlName="activo" #Activo />
    </kendo-formfield>
</form>
