<form class="k-form" [formGroup]="registerForm">

    <kendo-formfield>
        <kendo-label [for]="'contrasena'" text="Contraseña"></kendo-label>
        <input type="password" kendoTextBox formControlName="password" #Correo />
        <kendo-formerror>Contraseña inválida. Mínimo 6 caractéres.
        </kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
        <kendo-label [for]="'contrasena'" text="Confirmar Contraseña"></kendo-label>
        <input type="password" kendoTextBox formControlName="confirmPassword" #Correo />
        <kendo-formerror>Contraseña inválida. No coincide.
        </kendo-formerror>
    </kendo-formfield>
</form>
