<div class=" container-fluid container mt-5">
    <div class="notice notice-info">
        <h4>Consultas</h4>
    </div>

    <div class="row">
        <div class="col-12 col-lg-3">
            <kendo-label text="Socio">
                <kendo-dropdownlist [data]="listaSocios" [(ngModel)]="consulta.idSocio" textField="nombre"
                    valueField="id" [valuePrimitive]="true">
                </kendo-dropdownlist>
            </kendo-label>
        </div>
        <div class="col-12 col-lg-3">
            <kendo-label text="Tipo Garantía">
                <kendo-dropdownlist [data]="listaTipoGarantia" [(ngModel)]="consulta.tipoGarantia" textField="texto"
                    valueField="valor" [valuePrimitive]="true">
                </kendo-dropdownlist>
            </kendo-label>
        </div>
        <div class="col-12 col-lg-3">
            <kendo-label text="Estado Escudo">
                <kendo-dropdownlist [data]="listaEstado" [(ngModel)]="consulta.estado" textField="texto"
                    valueField="valor" [valuePrimitive]="true">
                </kendo-dropdownlist>
            </kendo-label>
        </div>

        <div class="col-12 col-lg-3">
            <kendo-label text="Número de Serie">
                <input kendoTextBox [(ngModel)]="consulta.serie" />
            </kendo-label>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-12" style="text-align: center;">
            <button style="margin-top: 10px;" kendoButton [icon]="'close-outline'" [look]="'outline'" [primary]="true"
                (click)="limpiar()">LIMPIAR CONSULTA</button>

            <button style="margin-top: 10px;margin-left: 10px;" kendoButton [primary]="true" [icon]="'search'"
                (click)="consultar()">CONSULTAR</button>
        </div>
    </div>
</div>

<div class="col-12 col-lg-12">
    <h4>Resultados</h4>
    <kendo-grid [data]="gridView" style="height: 600px;" [pageSize]="pageSize" [skip]="skip" [pageable]="true"
        (pageChange)="pageChange($event)">
        <ng-template kendoGridToolbarTemplate>
            <button kendoButton icon="file-excel" [primary]="true" (click)="descargarReporte()">
                Exportar
            </button>
        </ng-template>
        <kendo-grid-column field="socio" title="Socio"></kendo-grid-column>
        <kendo-grid-column field="serie" title="N. Serie" width="150" class="text-center"></kendo-grid-column>
        <kendo-grid-column field="tipoGarantia" title="Tipo Garantía" width="150" class="text-center">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <app-garantia-tipo-badge [tipoGarantia]="dataItem.tipoGarantia"></app-garantia-tipo-badge>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="estado" title="Estado" width="150" class="text-center">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <app-estado-badge [estado]="dataItem.estado"></app-estado-badge>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>
