<form class="k-form" [formGroup]="editForm">

    <kendo-formfield>
        <kendo-label [for]="'CodigoIdentificador'" text="Código Identificador"></kendo-label>
        <kendo-textbox formControlName="codigoIdentificador" #CodigoIdentificador required [disabled]="esEdicion()">
        </kendo-textbox>
        <kendo-formerror>Código Identificador no válido.</kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
        <kendo-label [for]="'Nombre'" text="Nombre"></kendo-label>
        <input kendoTextBox formControlName="nombre" #Nombre required />
        <kendo-formerror>Nombre inválido</kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
        <kendo-label [for]="'Telefono'" text="Teléfono"></kendo-label>
        <input kendoTextBox formControlName="telefono" #Telefono />
        <kendo-formerror>Teléfono inválido</kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
        <kendo-label [for]="'Celular'" text="Celular"></kendo-label>
        <input kendoTextBox formControlName="celular" #Celular />
        <kendo-formerror>Celular inválido</kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
        <kendo-label [for]="'Correo'" text="Correo"></kendo-label>
        <input kendoTextBox formControlName="correo" #Correo />
        <kendo-formerror>Correo inválido</kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
        <kendo-label [for]="'Contacto'" text="Contacto Nombre"></kendo-label>
        <input kendoTextBox formControlName="nombreContacto" #Correo />
        <kendo-formerror>Contacto Nombre</kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
        <kendo-label [for]="'ContactoTelefono'" text="Contacto Teléfono"></kendo-label>
        <input kendoTextBox formControlName="telefonoContacto" #ContactoTelefono />
        <kendo-formerror>Contacto Teléfono</kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
        <kendo-label [for]="'Activo'" text="Activo"></kendo-label>
        <input type="checkbox" kendoCheckBox formControlName="activo" #Activo />
    </kendo-formfield>

    <kendo-formfield>
        <kendo-label [for]="'Enlace'" text="Enlace"></kendo-label>
        <input kendoTextBox formControlName="enlace" #Enlace />
    </kendo-formfield>

    <kendo-formfield>
        <kendo-label [for]="'Comentario'" text="Comentario"></kendo-label>
        <textarea kendoTextArea rows="5" formControlName="comentario" #Comentario></textarea>
    </kendo-formfield>
</form>
