<kendo-listview [data]="escudos" [containerClass]="'k-d-flex k-flex-col k-flex-nowrap'">
    <ng-template kendoListViewItemTemplate let-dataItem="dataItem" let-isFirst="isFirst">
        <!-- <kendo-avatar [imageSrc]="determinarEscudo(dataItem.tipoGarantia)" [shape]="'circle'" [width]="100"
            [height]="100">
        </kendo-avatar> -->

        <img class="logo-escudo" [src]="determinarEscudo(dataItem.tipoGarantia)" />

        <app-garantia-tipo-badge [tipoGarantia]="dataItem.tipoGarantia"></app-garantia-tipo-badge>

    </ng-template>
</kendo-listview>