.k-listview {
    font-family: sans-serif;
    width: 400px;
    margin: auto;
}
.header, .footer {
    color: #A0A0A0;
    font-size: 16px;
    padding: 6px 10px;
}
.footer {
    font-size: 14px;
}
.contact {
    width: 100%;
}

.contact{
    display: flex;
    height: 55px;
    padding: 10px;
    align-items: center;
}
.contact.border-top {
    border-top: solid;
    border-color: #ECEBEB;
    border-width: thin;
}
.contact-details {
    flex: 1;
    margin-left: 10px;
}
.contact-name {
    color: #656565;
    font-weight: bolder;
}
.contact-email {
    font-size: 0.7rem;
    color: #BEBEBE;
}
.messages-label {
    height: 20px;
    width: 95px;
    font-size: 11px;
    line-height: 11px;
    text-transform: none;
}

.logo-escudo{
    height: 200px;
    width: 200px;
}