<div id="formContent">
    <div class="text-center mb-4" >
        <img class="logo-login" src="assets/logoUSFQ.svg" />
    </div>

    <form class="form-signin">
        <div class="form-label-group">
            <input kendoTextBox id="userName" name="username" [(ngModel)]="username" class="form-control"
                placeholder="Username" required autofocus />
            <label for="userName">Usuario</label>
        </div>
        <div class="form-label-group">
            <input kendoTextBox type="password" id="inputPassword" name="password" [(ngModel)]="password"
                class="form-control" placeholder="Password" required />
            <label for="inputPassword">Contraseña</label>
        </div>
        <button type="button" class="btn btn-lg btn-primary btn-block" (click)="login()">
            Iniciar Sesión
        </button>
    </form>
</div>
