<div class=" container-fluid container mt-5">
    <div class="notice notice-info">
        <h4>Catalogo Materiales</h4>
    </div>
    <div>
        <kendo-grid [data]="gridUsuariosView" [navigable]="true" [height]="600" [pageSize]="state.take" [filterable]="true"
            [sortable]="true" [sort]="sort" (sortChange)="sortChange($event)"
            [skip]="state.skip" [pageable]="true" (dataStateChange)="dataStateChange($event)" (edit)="editHandler($event)"
            (cancel)="cancelHandler($event)" (save)="saveHandler($event)" (add)="addHandler($event)">
            <ng-template kendoGridToolbarTemplate>
                <button icon='plus' [primary]="true" kendoGridAddCommand>Agregar</button>
            </ng-template>

            <kendo-grid-messages noRecords="Materiales no registrados.">
            </kendo-grid-messages>

            <kendo-grid-column field="nombre" title="Nombre">
            </kendo-grid-column>
            <kendo-grid-column field="activo" title="Activo" width="100" class="text-center" editor="boolean" [filterable]="false">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <app-active-badge [active]="dataItem.activo"></app-active-badge>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column width="100" class="text-center">
                <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem>
                    <button kendoGridEditCommand style="margin-right: 5px;" [primary]="true" icon='edit'></button>
                    <!-- <button kendoGridRemoveCommand [look]="'outline'" icon="delete"></button> -->
                    <button kendoGridSaveCommand style="margin-right: 5px;" [primary]="true" [look]="'outline'" icon="check"
                        [disabled]="formGroup?.invalid"></button>
                    <button kendoGridCancelCommand [look]="'outline'" icon="close"></button>
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>
    </div>
</div>
