<div class=" container-fluid container mt-5">
    <div class="notice notice-info">
        <h4>Consulta QR</h4>
    </div>

    <kendo-grid [data]="gridObrasView" [navigable]="true" [height]="590" [pageSize]="state.take" [skip]="state.skip"
        [pageable]="true" [sortable]="true" [sort]="state.sort" [filter]="state.filter" [filterable]="true"
        (dataStateChange)="dataStateChange($event)">

        <kendo-grid-messages noRecords="Obras no encontradas.">
        </kendo-grid-messages>
        <kendo-grid-column field="socio" title="Socio Técnico" width="250">
        </kendo-grid-column>
        <kendo-grid-column field="serie" title="N° Serie" width="160" class="text-center">
        </kendo-grid-column>
        <kendo-grid-column field="tipoGarantia" title="Tipo Garantía" width="150" class="text-center">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <app-garantia-tipo-badge [tipoGarantia]="dataItem.tipoGarantia"></app-garantia-tipo-badge>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="estado" title="Estado" width="150" class="text-center">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <app-estado-badge [estado]="dataItem.estado"></app-estado-badge>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column width="70" class="text-center">
            <ng-template kendoGridCellTemplate let-dataItem let-isNew="isNew">
                <button kendoButton [look]="'outline'" primary="true" icon="qr-code" style="margin-left: 3px;"
                    (click)="descargarQR(dataItem)"></button>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>
