<div class=" container-fluid container mt-5">
    <div class="notice notice-info">
        <h4>Socios Técnicos</h4>
    </div>
    <div>
        <kendo-grid [data]="gridSociosView" [navigable]="true" [height]="600" [pageSize]="state.take"
            [skip]="state.skip" [filter]="state.filter" [filterable]="true" [pageable]="true" (dataStateChange)="dataStateChange($event)">
            <ng-template kendoGridToolbarTemplate>
                <button kendoButton primary=true icon='plus' (click)="crearSocio()">Agregar</button>
            </ng-template>

            <kendo-grid-messages noRecords="Socios no encontrados.">
            </kendo-grid-messages>

            <kendo-grid-column field="codigoIdentificador" title="Identificador" width="130" class="text-center" [filterable]="false">
            </kendo-grid-column>
            <kendo-grid-column field="nombre" title="Nombre" width="350">
            </kendo-grid-column>
            <kendo-grid-column field="celular" title="Celular" width="150" [filterable]="false">
            </kendo-grid-column>
            <kendo-grid-column field="correo" title="Correo" width="250" [filterable]="false">
            </kendo-grid-column>
            <kendo-grid-column field="activo" title="Activo" width="100" class="text-center" [filterable]="false">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <app-active-badge [active]="dataItem.activo"></app-active-badge>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column width="100" class="text-center">
                <ng-template kendoGridCellTemplate let-dataItem let-isNew="isNew">
                    <button kendoButton [look]="'outline'" primary="true" icon="edit"
                        (click)='editarSocio(dataItem)'></button>
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>
    </div>
</div>
<ng-container #containerRegistro></ng-container>
