$border-radius: 2px;
$primary: #00a7e1;
$secondary: #cddb00;
$info: #3e80ed;
$success: #5ec232;
$warning: #fdce3e;
$error: #d51923;
$body-text: #424242;
$body-bg: #ffffff;
$headings-text: #272727;
$subtle-text: #666666;
$disabled-text: #8f8f8f;
$component-text: #424242;
$component-bg: #ffffff;
$base-text: #424242;
$base-bg: #fafafa;
$hovered-text: #424242;
$hovered-bg: #ececec;
$selected-text: #ffffff;
$selected-bg: #00a7e1;
$button-text: #424242;
$button-bg: #f5f5f5;
$link-text: #00a7e1;
$link-hover-text: #cddb00;
$series-a: #00a7e1;
$series-b: #ffd246;
$series-c: #cddb00;
$series-d: #28b4c8;
$series-e: #2d73f5;
$series-f: #aa46be;

@import "~@progress/kendo-theme-default/dist/all.scss";