/* You can add global styles to this file, and also import other style files */
// import configuration from the theme builder
@import "escudos.scss";
@import "~@progress/kendo-theme-default/dist/all.scss";


.app-header > .project-name {
    text-align: left;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
}

.app-header > .nav {
    float: righnpmt;
}

.content {
    min-height: 100vh;
}

.logo {
    font-weight: 700;
    font-size: 24px;
}

.welcome {
    text-align: center;
    font-weight: 900;
    font-size: 2em;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
}

.sub-header {
    text-align: center;
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: 0;
    color: #919191;
    opacity: 1;
    margin-bottom: 4rem;
}

.get-started {
    text-align: center;
    font-weight: 900;
    font-size: 78px;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    margin-bottom: 1rem;
}

.kendoka {
    width: 12.5rem;
    height: 12.5rem;
    opacity: 1;
}

.change-theme {
    font-size: 14px;
    color: #9098a5;
}

.components-list > p > a {
    margin-left: 0.6em;
}
.components-list > p > img {
    width: 1.25rem;
    height: 1.3125rem;
}
.footer {
    font-size: 11px;
    background: #646871 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.footer .links {
    text-align: left;
    letter-spacing: 0.33px;
    color: #ffffff;
    font-weight: 700;
    opacity: 1;
}
.divider {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    opacity: 0.2;
}

.copyright {
    letter-spacing: 0.33px;
    color: #ffffff;
    opacity: 0.6;
}

.k-widget.k-menu {
    height: 100%;
}

.k-widget.k-dropdown,
.k-list .k-item {
    text-transform: uppercase;
}

.social img {
    margin-left: 3rem;
}

.cabecera-tabla {
    background: #e66a15;
    color: #fff;
    line-height: 1em;
}

.titulo-configuracion {
    color: #e66a15;
    size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
}

.k-textbox {
    width: 100%;
}

.k-combobox {
    width: 100%;
}

.k-numerictextbox {
    width: 100%;
}

.alert {
    margin-bottom: 0;
}

.k-dialog-titlebar {
    padding-bottom: 10px;
    padding-top: 8px;
}

.k-window-title {
    line-height: 1.3;
    font-size: 17px;
}

.logo-toolbar {
    height: 50px;
    width: 100px;
}

.k-grid-toolbar {
    border-color: inherit;
    box-shadow: none;
    padding: 5px 5px;
}

.footer-button {
    padding-top: 10px;
    text-align: right;
}

.buttons {
    display: flex;
    float: right;
    margin-left: 5px;
}

.k-datepicker {
    width: 100%;
}

.mt-5,
.my-5 {
    margin-top: 1rem !important;
}

.logo-welcome {
    height: 600px;
    width: 600px;
}

//notice
.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
}

.notice-info {
    border-color: #45abcd;
}

.k-dropdown {
    width: 100% !important;
}
