<div class=" container-fluid container mt-5">
    <div class="notice notice-info">
        <h4>Configuraciones</h4>
    </div>
    <div>
        <kendo-grid [data]="gridData" [navigable]="true" [height]="500" (edit)="editHandler($event)"
            (cancel)="cancelHandler($event)" (save)="saveHandler($event)">
            <kendo-grid-column field="descripcion" title="Descripción" width="200" [editable]="false">
            </kendo-grid-column>
            <kendo-grid-column field="nombreConfiguracion" title="Nombre" width="130" [editable]="false">
            </kendo-grid-column>
            <kendo-grid-column field="valorConfiguracion" title="Valor" width="140">
            </kendo-grid-column>
            <kendo-grid-column width="120" class="text-center">
                <ng-template kendoGridCellTemplate let-isNew="isNew">
                    <button kendoGridEditCommand style="margin-right: 5px;" [primary]="true" icon='edit'></button>
                    <button kendoGridSaveCommand style="margin-right: 5px;" [primary]="true" [look]="'outline'" icon="check"
                        [disabled]="formGroup?.invalid"></button>
                    <button kendoGridCancelCommand [look]="'outline'" icon="close"></button>
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>
    </div>

</div>
