<div class=" container-fluid container mt-5">
    <div class="notice notice-info">
        <h4>Asignación de Garantías</h4>
    </div>
    <br />

    <form [formGroup]="formAsignacion">
        <fieldset class="k-form-fieldset">
            <div class='row'>
                <div class='col-12 col-lg-4'>
                    <kendo-formfield>
                        <kendo-label text="Socio Técnico">
                            <kendo-combobox [data]="sociosLista" textField="nombre" valueField="id"
                                [valuePrimitive]="true" [placeholder]="'Seleccione'" formControlName="socio">
                            </kendo-combobox>
                        </kendo-label>
                        <kendo-formerror>Seleccione un socio</kendo-formerror>
                    </kendo-formfield>
                </div>

                <div class='col-12 col-lg-4'>
                    <kendo-formfield>
                        <kendo-label text="Tipo Garantía">
                            <kendo-combobox [data]="tipoGarantiaLista" textField="texto" valueField="valor"
                                [valuePrimitive]="true" [placeholder]="'Seleccione'" formControlName="tipoGarantia">
                            </kendo-combobox>
                        </kendo-label>
                        <kendo-formerror>Seleccione el Tipo de Garantía</kendo-formerror>
                    </kendo-formfield>
                </div>

                <div class="col-12 col-lg-4">
                    <kendo-formfield>
                        <kendo-label text="Cantidad"></kendo-label>
                        <kendo-numerictextbox formControlName="cantidad" [format]="{maximumFractionDigits: 0}" required
                            [min]="1">
                        </kendo-numerictextbox>
                        <kendo-formerror>Cantidad inválida</kendo-formerror>
                    </kendo-formfield>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class='col-12 col-lg-12'>
                    <div class="k-form-buttons">
                        <button kendoButton [primary]="true" [icon]="'save'" type="button"
                            (click)="mostrarConfirmacion()" [disabled]="!formAsignacion.valid">Asignar</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<ng-container #containerConfirmacion></ng-container>
<ng-container #asignacionResultado></ng-container>
